/* font-family: 'Montserrat', sans-serif; */

:root {
    --whiteBackground: rgba(254, 255, 246, 100%);
    --blogButtonBg: rgba(254, 255, 246, 100%);
    --blogBlack: rgba(18, 18, 18, 70%);
    --offBlackText: rgb(18, 18, 18);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--whiteBackground);
}

header,
footer {
    position: absolute;
    width: 100%;
    background-color: var(--whiteBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#websiteContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    top: 0;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 10%); */
}
footer {
    bottom: 0;
    height: 60px;
    /* background-color: rgba(0, 0, 0, 10%); */
}
#blogContainer {
    position: relative;
    z-index: 3;
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-rows: 20%;
    grid-auto-rows: 20%;
    grid-template-columns: 100%;
    align-items: center;
    margin-top: 25px;
    background-color: var(--whiteBackground);
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}

#titleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 10%); */
    width: 220px;
    height: 70px;
}
#blogTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--offBlackText);
    font-weight: 800;
    font-size: 3.3rem;
}
#typingBar {
    margin-left: 8px;
    width: 6.5px;
    height: 2.8rem;
    background-color: var(--offBlackText);
}
#titleParagraph {
    margin-top: -13px;
    margin-left: 20px;
}

.lineBreak {
    width: 350px;
}
.footLineBreak {
    margin-top: -20px;
}

#linkContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footLink {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.blogPage {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 10px;
    position: absolute;
    background-color: var(--whiteBackground);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.pageTitle,
.pageDate,
.pageContent {
    margin-top: 0;
    margin-bottom: 0;
}
.pageTitle {
    margin-top: 20px;
}
.pageDate {
    margin-top: -13px;
    margin-left: 30px;
}
.pageContent {
    background-color: rgba(0, 0, 0, 4%);
    width: 380px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.blogButton {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 80px;
    background-color: var(--blogButtonBg);

    border: solid 3px var(--offBlackText);
    border-radius: 10px;
}
.blogButton:before {
    content: '';
    z-index: -1;
    position: absolute;
    border: 3px solid black;
    border-radius: 10px;
    width: 105%;
    height: 105%;
    top: 0px;
}
.blogButton:hover {
    border-color: var(--whiteBackground);
    color: var(--whiteBackground);
    background-color: var(--offBlackText);
}
.blogButton:hover::before {
    border-color: var(--whiteBackground);
    color: var(--whiteBackground);
    background-color: var(--offBlackText);
}
.blogButtonTitle {
    margin-bottom: 0;
}
.blogButtonTime {
    margin-top: 0;
}
